
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
#connexion {
  background-color: white; 
}

header {
  background-color: #3EB489;
  color: white;
  padding: 1em;
  text-align: center;
}
  
nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: white;
  text-decoration: underline;
}

nav a:active {
  color: #002D72;
}

h1 {
  color: #002D72; 
}

div h1 {
  margin-left: 20px;
}

h2 {
  color: #3EB489;
  margin-bottom: 30px;
}

div h2 {
  text-align: center;
}

div.connexion {
  padding: 40px;
  margin: 100px auto; /* Centre le formulaire verticalement et horizontalement */
  color: white;
  background-color: #033279;
  border: 1px solid white;
  border-radius: 8px;
  max-width: 500px; /* Limite la largeur du conteneur du formulaire */
}

.title-sw-green {
  color: #3EB489;
}

.title-sw-white {
  color: white;
}

main {
  padding: 20px;
}
  
form {
  display: flex; /* Utilise flexbox pour l'alignement */
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

.form-group {
  display: flex; /* Utilise flexbox pour l'alignement */
  align-items: center; 
  margin-bottom: 10px; 
}

label {
  flex: 1; /* Occupe 1 part de l'espace */
  text-align: left;
}

input, select {
  flex: 2; /* Occupe 2 parts de l'espace */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#type, #categorie, #montant {
  text-align: center;
}

form div {
  margin-bottom: 10px;
  width: 100%; 
}

.conteneur-graph {
  display: flex; 
  justify-content: space-around; /* Espacement uniforme autour des graphiques */
  margin-top: 20px; 
}

.graph {
  flex: 1; /* Chaque graphique prendra une part égale de l'espace disponible */
  max-width: 400px;
  margin: 0 10px; 
}

canvas {
  max-width: 100%; /* S'assurer que le canvas ne déborde pas */
  height: auto; /* Garder le ratio d'aspect */
}

/* Media query pour écrans plus étroits */
@media (max-width: 768px) {
  .conteneur-graph{
    flex-direction: column; /* Alignement vertical sur les petits écrans */
    align-items: center;
  }
  .graph {
    max-width: 100%; /* Chaque graph prendra toute la largeur disponible */
    margin: 10px 0; /*Espacement verticale entre graphs*/
  }
}

.button-add-transac {
  padding: 10px;
  background-color: white;
  color: #3EB489;
  border: none;
  border-radius: 4px;
  width: 100%;
}
.button-add-transac:hover {
  color: red;
  text-decoration: underline;
}

button, #subscribe {
  padding: 10px;
  background-color: #3EB489;
  color: white;
  border: none;
  border-radius: 4px;
  width: 100%;
}

#submit:hover, #subscribe:hover, button.connexion:hover {
  background-color: white;
  color: #3EB489;
  border: 1px solid #3EB489;
}

button.connexion {
  padding: 10px 10px;
  margin: 20px;
  background-color: #3EB489;
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}
  
div.connexion {
  padding: 20px;
  margin: 60px 60px;
  color: white;
  background-color: #033279;
  border: 1px solid white;
  border-radius: 4px;
}

form.connexion {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto; /* Centre le formulaire horizontalement */
  padding: 20px;
  border-radius: 8px; /* Ajoute des coins arrondis */
}

label.connexion {
  margin-bottom: 5px; /* Espace entre le label et le champ */
  color: white; /* Couleur des labels */
}

input.connexion {
  padding: 10px;
  margin-bottom: 20px; /* Espace entre les champs de formulaire */
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%; /* Assure que l'input prenne toute la largeur du formulaire */
  box-sizing: border-box; /* Assure que padding et border ne dépassent pas la largeur */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}
  
table, th, td {
  border: 1px solid #ddd;
}
  
th, td {
  padding: 10px;
  text-align: left;
}
  
th {
  background-color: #f4f4f4;
  text-align: center;
}

footer {
  margin: 70px 50px 20px 50px;
  color: #002D72;
}
  