/* Variables pour les couleurs et tailles */
:root {
  --primary-color: #3EB489;
  --secondary-color: #002D72;
  --text-color: #333;
  --error-color: #f44336;
  --button-hover-color: #ff5722;
  --border-radius: 8px;
  --font-family: 'Arial', sans-serif;
  --max-width: 1200px;
}

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
  color: var(--text-color);
}
  
header {
  background-color: var(--primary-color);
  color: white;
  padding: 1em;
  text-align: center;
}
  
h1 {
  color: var(--secondary-color); 
  margin-left: 20px;
}

h2 {
  color: var(--primary-color);
  margin-bottom: 30px;
  text-align: center;
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: white;
  text-decoration: underline;
}

nav a:active {
  color: var(--secondary-color);
}

p#feedback {
  display:none; 
  color:white; 
  padding: 20px;
  margin-top: 30px; 
  text-align: center;
  background-color: var(--primary-color);
  border-radius: 10px;
  opacity: 0.85;
  position: absolute;
  /*Position selon l'ancêtre plus proche*/
  top: 50%;
  left: 50%;
  /*Position coin sup g élément au milieu du conteneur parent
  horizontalt et verticalt*/
  transform: translate(-50%, -50%);
  /*Centre l'élément par rapport positon origine 
  négatif : gauche et haut 
  positif : opposé */
  transition: opacity 0.5s ease-in-out;
  /*rend display fluide et agréable
  temps de transition 0.5sec
  ease-in-out: control vitesse de transition
  lent début et fin, rapide entre */
}

main {
  padding: 20px;
  max-width: var(--max-width);
  margin: 0 auto;
}

form {
  display: flex; /* Utilise flexbox pour l'alignement */
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex; /* Utilise flexbox pour l'alignement */
  align-items: center; 
  margin-bottom: 10px; 
}

#transac-form {
  margin-top: 30px;
}

label {
  flex: 1; /* Occupe 1 part de l'espace */
  text-align: left;
  font-weight: bold;
}

input, select {
  flex: 2; /* Occupe 2 parts de l'espace */
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  font-size: 1em;
}

button {
  cursor: pointer;
  border: none;
  border-radius: var(--border-radius);
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.button-add-transac {
  padding: 10px;
  background-color: white;
  color: var(--primary-color);
  border: none;
  border-radius: 4px;
  width: 100%;
}
.button-add-transac:hover {
  color: white;
  background-color: var(--button-hover-color);
}

#submit {
  padding: 12px;
  margin: 20px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px;
  width: 100%;
}

#submit:hover {
  background-color: var(--button-hover-color);
}

button.commencer{
  padding: 12px 20px;
  border-radius: 40px;
  margin: 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
}

button.commencer:hover {
  background-color: var(--button-hover-color);
  color: white;
}

.conteneur-graph {
  display: flex; 
  justify-content: space-around; /* Espacement uniforme autour des graphiques */
  margin-top: 20px; 
}

.graph {
  flex: 1; /* Chaque graphique prendra une part égale de l'espace disponible */
  max-width: 400px;
  margin: 0 10px; 
}

canvas {
  max-width: 100%; /* S'assurer que le canvas ne déborde pas */
  height: auto; /* Garder le ratio d'aspect */
}

/* Media query pour écrans plus étroits */
@media (max-width: 768px) {
  .conteneur-graph{
    flex-direction: column; /* Alignement vertical sur les petits écrans */
    align-items: center;
  }
  .graph {
    max-width: 100%; /* Chaque graph prendra toute la largeur disponible */
    margin: 10px 0; /*Espacement verticale entre graphs*/
  }

  form {
    max-width: 100%;
  }

  button.commencer {
    width: auto;
    margin: 10px auto;
  }

  #submit {
    padding: 12px 10px;
  }
}

footer {
  margin: 400px 50px 20px 50px;
  padding: 20px;
  color: var(--secondary-color);
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table, th, td {
  border: 1px solid #ddd;
  text-align: center;
}
  
th, td {
  padding: 10px;
  text-align: left;
}
  
th {
  background-color: #f4f4f4;
  text-align: center;
}

.title-sw-green {
  color: var(--primary-color);
}

.title-sw-white {
  color: white;
}
  
#type, #categorie, #montant {
  text-align: center;
}

div.periode-select>label {
  color:gray;
}

/* Images responsives (au cas où) */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* ajout de favicon et images */
